.form-body {
  margin-top: 20px;
  padding: 20px 20px;
  max-width: 900px;
  border: 1px solid white;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 3px #58a6ff;
  background-color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-body:hover {
  border: 1px solid white;
  border-radius: 15px;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 10px 3px #58a6ff;
  }
  70% {
    box-shadow: 0px 0px 10px 6px #58a6ff;
  }
  100% {
    box-shadow: 0px 0px 10px 3px #58a6ff;
  }
}

.form-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "grid-let" "grid-right";
  grid-column-gap: 0.5rem;
}

.form-field {
  display: inline;
}

.text-box {
  width: 100px;
  height: 100px;
  background-color: gray;
}

input,
textarea {
  color: white;
  font-family: "Bodoni Moda", serif;
}

button {
  background-color: #2ea043;
  width: 20%;
  color: white;
  font-family: "Bodoni Moda", serif;
}

::ng-deep .mat-form-field-label {
  color: #58a6ff !important;
}

::ng-deep.mat-form-field-underline {
  background-color: white !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: white !important;
}

::ng-deep.mat-form-field-ripple {
  background-color: #58a6ff !important;
}
