.form-body {
  margin: 30px;
  padding: 20px 20px;
  background-color: #58a6ff;
  min-width: 150px;
  max-width: 400px;
  width: 100%;
}

.form-body h1 {
  color: white;
  text-align: center;
}

.form-field {
  width: 100%;
}

button {
  background-color: #2ea043;
}

.form-check {
  background-color: #2ea043;
}
