<div class="form-body" *ngIf="pageLoad.showForm">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form-container">
    <div id="grid-left">
      <mat-form-field class="form-field">
        <mat-label class="input-header">Username</mat-label>
        <input
          matInput
          formControlName="userName"
          [value]="(userData$ | async)?.userName"
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label class="input-header">Email</mat-label>
        <input
          matInput
          formControlName="userEmail"
          type="email"
          [value]="(userData$ | async)?.userEmail"
        />
        <mat-error
          *ngIf="
            formValidators.userEmail.invalid && formValidators.userEmail.touched
          "
        >
          Not a valid email
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label class="input-header">Blog URL</mat-label>
        <input
          matInput
          placeholder="Blog"
          formControlName="blog"
          [value]="(userData$ | async)?.blog"
        />
        <mat-error
          *ngIf="formValidators.blog.invalid && formValidators.blog.touched"
        >
          Not a valid URL
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label class="input-header">Twitter@</mat-label>
        <input
          matInput
          formControlName="twitterHandle"
          [value]="(userData$ | async)?.twitterHandle"
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label class="input-header">Company</mat-label>
        <input
          matInput
          formControlName="company"
          [value]="(userData$ | async)?.company"
        />
      </mat-form-field>
    </div>
    <div class="grid-right">
      <mat-form-field class="form-field">
        <mat-label class="input-header">Location</mat-label>
        <input
          matInput
          formControlName="location"
          [value]="(userData$ | async)?.location"
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label class="input-header">Bio</mat-label>
        <textarea
          matInput
          formControlName="bio"
          [value]="(userData$ | async)?.bio"
          style="height: 128px; background-color: rgba(128, 128, 128, 0.3)"
        ></textarea>
        <mat-error
          *ngIf="formValidators.bio.invalid && formValidators.bio.touched"
        >
          Max 160 Characters
        </mat-error>
      </mat-form-field>
      <div class="radio-container">
        <mat-radio-group
          formControlName="hireable"
          [value]="(userData$ | async)?.hireable"
          color="primary"
        >
          <label id="example-radio-group-label">Hireable</label>
          <br />
          <mat-radio-button class="radio-btn" value="true"
            >I need a job</mat-radio-button
          >
          <mat-radio-button class="radio-btn add-space" value="false"
            >I have a job</mat-radio-button
          >
        </mat-radio-group>
      </div>
    </div>
    <button mat-raised-button>Submit</button>
  </form>
</div>
<app-loading-spinner *ngIf="pageLoad.showSpinner"></app-loading-spinner>
